.content
    display: flex
    justify-content: space-between
    margin-bottom: 50px
.text,
.images
    display: flex
    flex-direction: column
    // justify-content: space-between
.text
    width: 60%
.images
    width: 38%